<mat-table [dataSource]="employees$ | async" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
    <mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastJobTitle">
    <mat-header-cell *matHeaderCellDef> {{'Position' | translate}} </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.lastJobTitle}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> {{'Name' | translate}} </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="salary">
    <mat-header-cell *matHeaderCellDef> {{'Salary' | translate}} </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.salary | currency:'USD'}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="hiredAt">
    <mat-header-cell *matHeaderCellDef> {{'Hired Date' | translate}} </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.hiredAt | date: 'dd/MM/yyyy'}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="leftAt">
    <mat-header-cell *matHeaderCellDef> {{'Left Date' | translate}} </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.leftAt | date: 'dd/MM/yyyy'}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
