<h1 mat-dialog-title>{{'New position' | translate}}</h1>
<mat-dialog-content>
  <div [formGroup]="positionAddForm">
  <mat-form-field>
    <mat-label>{{'Position' | translate}} </mat-label>
    <input required matInput formControlName="titleInput">
  </mat-form-field>
</div>
</mat-dialog-content>
<mat-dialog-actions mat-dialog-actions align="end">
  <button mat-button (click)="onCloseClick()">{{'Close' | translate}}</button>
  <button mat-flat-button color="accent" (click)="onCreateClick()"
    cdkFocusInitial>{{'Add' | translate}}</button>
</mat-dialog-actions>
